.login {
  border: 2px solid #6B6E70;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 1.5rem;
  background-color: #474B4F;
  color: #86C232;
}

/* .login {
  border: 2px solid red;
} */


Form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 450px;
  height: 300px;
  text-align: left;
  margin: 0 auto;
}

input {
  width: 444px;
  height: 40px;
  font-size: 1.2rem;
  margin-bottom: 20px;
  border: 2px solid #222629;
  border-radius: 5px;
}

button {
  margin: 20px auto;
  width: 450px;
  height: 45px;
  /* color: #222629; */
  color: white;
  background-color: #86C232;
  font-size: 1.4rem;
  border: 2px solid #222629;
  border-radius: 5px;
}

button:hover {
  background-color: #61892F;
}